.all-cards-container {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
  font-weight: 400;
  font-family: roboto;
}

.all-card {
  color: #333;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 12px;
  padding: 15px;
  margin: 10px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.all-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.all-card h2 {
  margin: 0;
  color: #3f3f3f;
  font-weight: 400;
  font-size: 24px;
}

.all-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin-top: 10px;
}

.all-time-left {
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
}
.all-time-right {
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
}

.all-timer-line {
  width: 2px;
  height: 35px;
  background-color: transparent;
  border-left: 2px dashed #4f4f4f;
}


.all-card-icon {
  font-size: 30px;
  padding-top: 10px;
}

.bullish {
  background: linear-gradient(135deg, #B2F2BB, #8EE4AF);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bearish {
  background: linear-gradient(135deg, #FFB3B3, #FF6F61);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nifty-prediction {
  background: linear-gradient(135deg, #A7C7E7, #74A9D8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bank-nifty-prediction {
  background: linear-gradient(135deg, #FFD8A8, #FFAD60);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.all-floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 13px;
}

.all-des {
  font-size: 12px;
}
.all-time {
  margin-top: 5px;
}

.all-icon {
  width: 5rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.market-card {
  animation: fadeIn 0.8s ease-in-out;
}