*{
  margin: 0;
  padding: 0;
}
.Results-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
  }
  
.results-form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.result-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
}

.results-card {
  width: 400px !important;
  margin: 10px !important;
  height: 130px !important;
}

.results-card h2 {
  margin-top: 0px !important;
}
